<div class="container">
  <div class="search-box">
    <p class="center lead">
      Plus besoin de chercher un parking, on le trouve pour vous ! Disponible 24/7.


    </p>

    <div class="narrow">
      <form [formGroup]="contactForm"
        (ngSubmit)="onSubmit(contactForm.value)">
        <input 
          type="tel"
          class="form-control"
          placeholder="Téléphone"
          formControlName="phone"
          />
        <input 
          type="text"
          class="form-control"
          placeholder="Destintation"
          formControlName="destination"
          />
        <input 
          type="text"
          class="form-control"
          placeholder="Nom (facultatif)"
          formControlName="name"
          />

        <table class="css-table">
          <tr>
            <td><input type="checkbox" formControlName="mobileAndNow"></td>
            <td>Je suis en voiture et je cherche une place tout de suite</td>
          </tr>
        </table>
        
        <button
          type="submit"
          class="btn btn-primary btn-block">
          Je me fais recontacter
        </button>
      </form>
      
    </div>


    <br>
    <br>

    <p class="center lead">
      Ou appelez-nous au <br>
      <strong><a href="tel:+33634012345">06.34.01.23.45</a></strong>
    </p>
  </div>



  <!-- <h1>Pourquoi passer par Spotnic ?</h1>


  Notre agent disponible
 -->
  
</div>

