<div class="container">
  <div class="row">

    <div class="col-sm-4 contact-box">
      <img src="img/icon-planet-map.png" class="big-icon">
      <p class="lead">
        Rencontrez-nous au<br>
        <u>39 rue du Caire, 75002 Paris</u>
      </p>
    </div>

    <div class="col-sm-4 contact-box">
      <img src="img/icon-astronaut.png" class="big-icon">
      <p class="lead">
        Appelez-nous au
        <u><a href="tel:+33634012345">06.34.01.23.45</a></u>
      </p>
    </div>

    <div class="col-sm-4 contact-box">
      <img src="img/icon-send.png" class="big-icon">
      <p class="lead">
        Envoyez-nous un email à <u><a href="mailto:hello@spotnic.co">hello@spotnic.co</a></u>
      </p>
    </div>

    <div class="clearfix visible-sm visible-md visible-lg"></div>

    <div class="col-sm-4 col-sm-offset-2 contact-box">
      <img src="img/icon-facebook.png" class="big-icon">
      <p class="lead">
        Suivez-nous sur Facebook depuis <u><a href="https://fb.me/spotnic.co">fb.me/spotnic.co</a></u>
      </p>
    </div>

    <div class="col-sm-4 contact-box">
      <img src="img/icon-chatbot.png" class="big-icon">
      <p class="lead">
        Echangez avec notre chatbot Spotnic sur <u><a href="https://m.me/spotnic.co">Messenger</a></u>
      </p>
    </div>

  </div>
</div>